body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url("https://www.santacruzbicycles.com/files/wallpapers/wallpaper_scb_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-table {
    background-color: #222227;
    color: white;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #121214;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #222227;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #353535;
    color: white;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #353535;
    color: white;
}

input[type=submit] {
    background-color: #900D09;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Suez One', serif;
}
table {
    margin-left: auto;
    margin-right: auto;
    font-family: Trebuchet MS, Helvetica;
}
.error-message{
    max-width: 200px;
}
.submit-button{
    transition: transform .2s;
}
.submit-button:hover{
    transform: scale(1.1);
    filter: brightness(130%);
}

.wrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
